$primary-color: #2c3e50;
$secondary-color: #e74c3c;
$third-color: #ecf0f1;

.my-topbar {
  // min-height: 4em;
  background-color: $primary-color;
}

.title {
  font-size: 2em;
  color: $third-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5em 1em;
}
