.my-topbar {
  background-color: #2c3e50;
}

.title {
  font-size: 2em;
  color: #ecf0f1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5em 1em;
}
