$primary-color: #2C3E50;
$secondary-color: #E74C3C;
$third-color: #ECF0F1;
$fourth-color: #2980B9;
$fifth-color: #3498DB;

app-map {
    min-height: 80vh;
    height: calc(100% - 64px);
    width: 100vw;
}