<div class="container-fluid">
  <app-map (onMapLoaded)="loadMap($event)" (onMarkClicked)="addToMarkedList($event)"></app-map>
  <input type="button" appClickStopPropagation (click)="addPin()" value="Add another">
  <button (click)="removeLastPin()">Remove last pin</button>
</div>
