$primary-color: #2C3E50;
$secondary-color: #E74C3C;
$third-color: #ECF0F1;
$fourth-color: #2980B9;
$fifth-color: #3498DB;

// .sidebar {
//     display: flex;
//     flex-direction: column;
// }
// .sidebar-title-box {
//     padding-left: 3%;
//     padding-right: 3%;
//     background-color: $fourth-color;
//     color: $third-color;
//     max-height: 4.3em;
// }
// .sidebar-content {
//     padding: 4%;
//     color: $primary-color;
//     min-height: 100%;
// }