#hr-box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

#content {
  flex-grow: 3;
}

#sidebar {
  flex-grow: 1;
  display: none;
}

app-topbar {
  width: 100%;
}
