$primary-color: #2c3e50;
$secondary-color: #e74c3c;
$third-color: #ecf0f1;
$fourth-color: #2980b9;
$fifth-color: #3498db;

#hr-box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

#content {
  flex-grow: 3;
  // padding: 3%;
}

#sidebar {
  flex-grow: 1;
  display: none;
}

app-topbar {
  width: 100%;
}
